@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  body {
    @apply bg-[#FFFDF9] text-slate-900 antialiased;
    margin: 0;
    padding: 0;
  }

  main,
  section {
    background-color: transparent !important;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/40 backdrop-blur-xl border-2 border-white/80 shadow-[0_20px_50px_rgba(180,160,100,0.15)];
  }

  .text-kids-title {
    @apply font-black tracking-tighter leading-tight;
  }
}

/* esonde header com img aberta */
body.modal-open .site-header {
  display: none;
}

/* Bloqueia o scroll da page quando img esta aberta*/
body.modal-open {
  overflow: hidden;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(5deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}